@charset "UTF-8";

/* HEADER SETTING */
#new_hd {
    width: 100%;
    height: 126px;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}

#new_hd.scroll {
    position: fixed;
    background-color: #fff;
    mix-blend-mode: normal;
    height: 111px;
}

#new_hd.terabond_active {
    mix-blend-mode: normal;
    background-color: #3988e3;
}

#new_hd.hd_active {
    height: 490px;
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    mix-blend-mode: normal;
}

#new_hd.terabond_active2 {
    mix-blend-mode: normal;
}

#new_hd .hd_area {
    width: 100%;
    height: 100%;
    position: relative;
}

#new_hd .hd_con {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 140px;
}

#new_hd .hd_size {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 1px solid #707070;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 30px;
    -webkit-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

#new_hd.scroll .hd_size {
    padding-top: 30px;
    border-bottom: 0;
}

#new_hd.scroll .hd_size,
#new_hd.terabond_active2 .hd_size {
    border-color: #707070;
}

#new_hd.terabond_active .hd_size {
    border-color: #fff;
}

#new_hd.hd_active .hd_size {
    border-bottom: 1px solid #707070;
}

.hd_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

@media all and (max-width: 1441px) {
    #new_hd .hd_con {
        padding: 0 30px;
    }
}

@media all and (max-width: 1281px) {
    #new_hd.scroll {
        width: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #new_hd.navclick {
        width: 95%;
        height: 100%;
        max-height: 95vh;
        background-color: #fff;
        mix-blend-mode: normal;
        padding-bottom: 50px;
    }
}

@media all and (max-width: 1025px) {
    #new_hd {
        height: 104px;
        mix-blend-mode: normal;
    }

    #new_hd .hd_area {
        height: 100%;
    }

    #new_hd .hd_con {
        height: 100%;
    }

    #new_hd .hd_size {
        border-bottom: 0;
    }
}

@media all and (max-width: 885px) {
    #new_hd .hd_size {
        padding-top: 30px;
    }
}

@media all and (max-width: 481px) {
    #new_hd {
        height: 84px;
    }

    #new_hd .hd_con {
        padding: 0 15px;
    }

    #new_hd .hd_size {
        padding: 20px 0;
    }

    #new_hd.scroll .hd_size {
        padding-top: 20px;
    }

    #new_hd.navclick {
        width: 100%;
    }
}

/* HEADER SETTING END */

/* HEADER LOGO */
#new_hd .hd_logo {
    width: 100%;
    max-width: 202px;
    height: 44px;
    position: relative;
}

#new_hd .hd_logo > a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../img/hd_logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

#new_hd.scroll .hd_logo > a,
#new_hd.terabond_active2 .hd_logo > a {
    background-image: url(../img/hd_logo.svg);
}

#new_hd.terabond_active .hd_logo > a {
    background-image: url(../img/hd_logo_on.svg);
}

#new_hd.hd_active .hd_logo > a {
    background-image: url(../img/hd_logo.svg);
}

@media all and (max-width: 1441px) {
    #new_hd .hd_logo {
        max-width: 180px;
    }
}

@media all and (max-width: 1025px) {
    #new_hd .hd_logo > a {
        background-image: url(../img/hd_logo.svg);
    }
}

@media all and (max-width: 885px) {
    #new_hd .hd_logo {
        max-width: 160px;
    }
}

@media all and (max-width: 481px) {
    #new_hd .hd_logo {
        max-width: 100px;
    }
}

/* HEADER LOGO END */

/* HEADER NAV */
#new_hd .hd_nav {
    width: auto;
    height: auto;
    position: relative;
}

#new_hd .nav_con {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    gap: 70px;
}

#new_hd .nav_con .nav_item {
    width: auto;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#new_hd .nav_con .nav_item > a {
    display: inline-block;
    text-align: center;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    color: #707070;
    letter-spacing: -0.5px;
}

#new_hd.scroll .nav_con .nav_item > a,
#new_hd.terabond_active2 .nav_con .nav_item > a {
    color: #707070;
}

#new_hd.terabond_active .nav_con .nav_item > a {
    color: #fff;
}

#new_hd.hd_active .nav_con .nav_item > a {
    color: #707070;
}

#new_hd .nav_con .nav_item > a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #707070;
    position: absolute;
    bottom: -5px;
    left: 0;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

#new_hd .nav_con .nav_item:hover > a::after {
    width: 100%;
}

#new_hd .nav_con .nav_item > a > span {
    display: block;
    font-size: 0.75rem;
    line-height: 15px;
}

@media all and (max-width: 1441px) {
    #new_hd .nav_con {
        gap: 50px;
    }

    #new_hd .nav_con .nav_item > a {
        font-size: 0.9375rem;
    }
}

@media all and (max-width: 1281px) {
    #new_hd .hd_nav {
        display: none;
    }
}

/* HEADER NAV END */

/* HEADER SUBNAV */
#new_hd .nav_con .deps_con {
    position: absolute;
    top: 100px;
    width: 120px;
    height: auto;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

#new_hd .nav_con .deps_con .deps_item {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
}

#new_hd .nav_con .deps_con .deps_item:last-of-type {
    margin-bottom: 0;
}

#new_hd .nav_con .deps_con .deps_item > a {
    display: inline-block;
    font-size: 1.0625rem;
    font-weight: 600;
    color: #707070;
    position: relative;
    letter-spacing: -0.5px;
}

#new_hd .nav_con .deps_con .deps_item .deps2_con {
    margin-top: 15px;
}

#new_hd .nav_con .deps_con .deps_item .deps2_con > li {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 15px;
}

#new_hd .nav_con .deps_con .deps_item .deps2_con > li:last-of-type {
    margin-bottom: 0;
}

#new_hd .nav_con .deps_con .deps_item .deps2_con > li > a {
    display: inline-block;
    font-size: 1.0625rem;
    font-weight: 400;
    position: relative;
    letter-spacing: -0.5px;
}

#new_hd .nav_con .deps_con .deps_item > a::after,
#new_hd .nav_con .deps_con .deps_item .deps2_con > li > a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #707070;
    position: absolute;
    bottom: -3px;
    left: 0;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

#new_hd .nav_con .deps_con .deps_item > a:hover::after,
#new_hd .nav_con .deps_con .deps_item .deps2_con > li > a:hover::after {
    width: 100%;
}

@media all and (max-width: 1441px) {
    #new_hd .nav_con .deps_con {
        max-width: 100%;
    }

    #new_hd .nav_con .deps_con .deps_item > a {
        font-size: 0.875rem;
        word-break: keep-all;
    }

    #new_hd .nav_con .deps_con .deps_item .deps2_con > li > a {
        font-size: 0.875rem;
    }
}

/* HEADER SUBNAV END */

/* HEADER LANG */
#new_hd .lang_nav {
    width: auto;
    height: auto;
    position: relative;
}

#new_hd .lang_navbox {
    width: auto;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 17px;
    padding: 14px 26px;
    border: 1px solid #707070;
}

#new_hd.scroll .lang_navbox,
#new_hd.terabond_active2 .lang_navbox {
    border: 1px solid #707070;
}

#new_hd.terabond_active .lang_navbox {
    border: 1px solid #fff;
}

#new_hd.hd_active .lang_navbox {
    border: 1px solid #707070;
}

#new_hd .lang_navbox .lang_item {
    width: auto;
    height: auto;
    position: relative;
}

#new_hd .lang_navbox .lang_item > a {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #707070;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
}

#new_hd.scroll .lang_navbox .lang_item > a,
#new_hd.terabond_active2 .lang_navbox .lang_item > a {
    color: #707070;
}

#new_hd.terabond_active .lang_navbox .lang_item > a {
    color: #fff;
}

#new_hd.hd_active .lang_navbox .lang_item > a {
    color: #707070;
}

#new_hd .lang_navbox .lang_item > a:hover {
    color: #d35222;
}

#new_hd .lang_navbox .lang_item > a > span {
    width: 9px;
    height: 7px;
    background-image: url(../img/lang_arrows.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

#new_hd.terabond_active .lang_navbox .lang_item > a > span {
    background-image: url(../img/lang_arrows_w.png);
}

#new_hd.hd_active .lang_navbox .lang_item > a > span,
#new_hd.scroll .lang_navbox .lang_item > a > span,
#new_hd.terabond_active2 .lang_navbox .lang_item > a > span {
    background-image: url(../img/lang_arrows.png);
}

#new_hd .lang_navbox .lang_item .deps_lang {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #707070;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px 15px;
}

#new_hd .lang_navbox .lang_item .deps_lang > li {
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: 10px;
}

#new_hd .lang_navbox .lang_item .deps_lang > li:last-of-type {
    margin-bottom: 0;
}

#new_hd .lang_navbox .lang_item .deps_lang > li > a {
    font-size: 0.8125rem;
    font-weight: 400;
}

#new_hd .lang_navbox .lang_item .deps_lang > li > a:hover {
    color: #d35222;
}

@media all and (max-width: 1441px) {
    #new_hd .lang_navbox {
        padding: 10px;
    }
}

@media all and (max-width: 1025px) {
    #new_hd .lang_navbox {
        border-color: #707070;
    }

    #new_hd .lang_navbox .lang_item > a {
        color: #707070;
    }

    #new_hd .lang_navbox .lang_item > a > span {
        background-image: url(../img/lang_arrows.png);
    }
}

@media all and (max-width: 1281px) {
    .lang_nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 50px;
    }
}

@media all and (max-width: 885px) {
    .lang_nav {
        gap: 20px;
    }
}

@media all and (max-width: 481px) {
    .lang_nav {
        gap: 15px;
    }

    #new_hd.scroll {
        height: 84px;
    }

    #new_hd .lang_navbox {
        padding: 5px;
        gap: 8px;
    }

    #new_hd .lang_navbox .lang_item > a {
        font-size: 0.75rem;
    }

    #new_hd .lang_navbox .lang_item .deps_lang {
        padding: 5px 8px;
    }

    #new_hd .lang_navbox .lang_item .deps_lang > li > a {
        font-size: 0.75rem;
    }
}

@media all and (max-width: 376px) {
    #new_hd .lang_navbox .lang_item > a {
        font-size: 0.6875rem;
    }

    #new_hd .lang_navbox .lang_item .deps_lang > li > a {
        font-size: 0.6875rem;
    }
}

@media all and (max-width: 321px) {
    #new_hd .lang_navbox .lang_item {
        display: none;
    }

    #new_hd .lang_navbox .lang_item.lang_click {
        display: block;
    }
}

/* HEADER LANG END */

/* HEADER NAVBARS */
#new_hd .nav_bars {
    width: 38px;
    height: 38px;
    position: relative;
    display: none;
}

#new_hd .nav_bars > button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 0;
}

#new_hd .nav_bars > button > span {
    display: block;
    width: 100%;
    height: 5px;
    margin-bottom: 6px;
    background-color: #707070;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#new_hd .nav_bars > button > span:last-of-type {
    margin-bottom: 0;
}

#new_hd .nav_bars > button.bar_active > span:nth-of-type(1) {
    -webkit-transform: translateY(11px) rotate(45deg);
    -moz-transform: translateY(11px) rotate(45deg);
    -ms-transform: translateY(11px) rotate(45deg);
    -o-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
}

#new_hd .nav_bars > button.bar_active > span:nth-of-type(2) {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}

#new_hd .nav_bars > button.bar_active > span:nth-of-type(3) {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -moz-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    -o-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
}

#new_hd.scroll .nav_bars > button > span,
#new_hd.hd_active .nav_bars > button > span {
    background-color: #707070;
}

@media all and (max-width: 1281px) {
    #new_hd .nav_bars {
        display: block;
    }
}

@media all and (max-width: 1025px) {
    #new_hd .nav_bars > button > span {
        background-color: #707070;
        height: 4px;
        margin-bottom: 7px;
    }
}

@media all and (max-width: 481px) {
    #new_hd .nav_bars {
        width: 28px;
    }
}

@media all and (max-width: 376px) {
    #new_hd .nav_bars {
        width: 25px;
    }
}

/* HEADER NAVBARS END */

/* MO NAV */
.m_nav_con {
    width: 100%;
    height: auto;
    max-height: -webkit-calc(95vh - 149px);
    max-height: -moz-calc(95vh - 149px);
    max-height: calc(95vh - 149px);
    position: relative;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.m_nav_con .m_nav_box {
    width: 100%;
    height: auto;
    position: relative;
}

.m_nav_con .m_nav_box .m_nav_item {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 1px solid #707070;
}

.m_nav_con .m_nav_box .m_nav_item > a {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px 0;
}

.m_nav_con .m_nav_box .m_nav_item > a > p {
    font-size: 1.25rem;
    font-weight: 600;
    color: #707070;
    letter-spacing: -0.5px;
}

.m_nav_con .m_nav_box .m_nav_item > a > p > span {
    font-size: 1rem;
    font-weight: 400;
}

.m_nav_con .m_nav_box .m_nav_item > a > .arrows {
    display: block;
    width: 21px;
    height: 11px;
    background-image: url(../img/m_arros.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.m_nav_con .m_nav_box .m_nav_item > a.m_nav_active > .arrows {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.m_nav_con .m_nav_box .m_nav_item .m_depscon {
    width: 100%;
    height: auto;
    position: relative;
    display: none;
}

.m_nav_con .m_nav_box .m_nav_item .m_depsbox {
    width: 100%;
    padding-bottom: 30px;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.m_nav_con .m_nav_box .m_nav_item .m_depsbox > li {
    width: 100%;
    height: auto;
    position: relative;
}

.m_nav_con .m_nav_box .m_nav_item .m_depsbox > li > a {
    display: block;
    font-size: 1.1875rem;
    font-weight: 600;
    color: #707070;
    letter-spacing: -0.5px;
    margin-bottom: 15px;
}

.m_nav_con .m_nav_box .m_nav_item .m_depsbox > li .m_depsbox2 {
    width: 100%;
    height: auto;
    position: relative;
}

.m_nav_con .m_nav_box .m_nav_item .m_depsbox > li .m_depsbox2 > li {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 15px;
}

.m_nav_con .m_nav_box .m_nav_item .m_depsbox > li .m_depsbox2 > li:last-of-type {
    margin-bottom: 0;
}

.m_nav_con .m_nav_box .m_nav_item .m_depsbox > li .m_depsbox2 > li > a {
    display: block;
    font-size: 1.0625rem;
    font-weight: 400;
    color: #707070;
    letter-spacing: -0.5px;
}

@media all and (max-width: 1025px) {
    .m_nav_con {
        border-top: 1px solid #707070;
    }
}

@media all and (max-width: 885px) {
    .m_nav_con .m_nav_box .m_nav_item > a {
        padding: 20px 0;
    }

    .m_nav_con .m_nav_box .m_nav_item > a > p {
        font-size: 1rem;
        line-height: 23px;
    }

    .m_nav_con .m_nav_box .m_nav_item > a > p > span {
        font-size: 0.9375rem;
    }

    .m_nav_con .m_nav_box .m_nav_item .m_depsbox > li > a {
        font-size: 0.9375rem;
    }

    .m_nav_con .m_nav_box .m_nav_item .m_depsbox > li .m_depsbox2 > li > a {
        font-size: 0.9375rem;
    }
}

@media all and (max-width: 481px) {
    .m_nav_con .m_nav_box .m_nav_item > a > p {
        font-size: 0.9375rem;
        line-height: 20px;
    }

    .m_nav_con .m_nav_box .m_nav_item > a > p > span {
        font-size: 0.8125rem;
    }

    .m_nav_con .m_nav_box .m_nav_item .m_depsbox {
        gap: 20px;
    }

    .m_nav_con .m_nav_box .m_nav_item .m_depsbox > li > a {
        font-size: 0.875rem;
    }

    .m_nav_con .m_nav_box .m_nav_item .m_depsbox > li .m_depsbox2 > li > a {
        font-size: 0.875rem;
    }
}

/* MO NAV END */
