@charset "UTF-8";

:root {
    --black: #181818;
    --gray: #545454;
    --litegray: #cecece;
    --litegray2: #818181;
    --litegray3: #eaeaea;
    --white: #fff;
    --blue: #246eb8;
    --red: #d33a2a;
    --purple: #9d3fe7;
    --green: #226b5f;
    --yellow: #f7b32b;
    --orange: #ff9600;
}

.hiddentag {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

/* INPUT */
.contact_input {
    width: -webkit-calc((100% - 20px) / 2);
    width: -moz-calc((100% - 20px) / 2);
    width: calc((100% - 20px) / 2);
    height: 45px;
    position: relative;
}

.contact_input > input {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-shadow: inset -3px 3px 15px rgba(0, 0, 0, 0.2);
    box-shadow: inset -3px 3px 15px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: #fff;
    padding: 0 15px;
    font-size: 0.9375rem;
}

@media all and (max-width: 481px) {
    .contact_input {
        width: 100%;
        height: 40px;
    }

    .contact_input > input {
        font-size: 0.8125rem;
    }
}

/* INPUT END */

/* FILE */
/* FILE EMD */

/* BUTTON */
.news_more,
.stat_morebox {
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
}

.news_more > a,
.stat_morebox > a {
    display: inline-block;
    width: auto;
    height: auto;
    position: relative;
    padding: 13px 40px;
    border: 1px solid #707070;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -1px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #707070;
    line-height: 27px;
}

.news_more > a:hover,
.stat_morebox > a:hover {
    background-color: #ea5514;
    border-color: #ea5514;
    color: #fff;
}

.contact_submit {
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
}

.contact_submit > button {
    display: inline-block;
    width: auto;
    height: auto;
    position: relative;
    padding: 13px 40px;
    border: 1px solid #707070;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -1px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #707070;
    line-height: 27px;
}

.contact_submit > button:hover {
    background-color: #ea5514;
    border-color: #ea5514;
    color: #fff;
}

@media all and (max-width: 1441px) {
    .news_more > a,
    .stat_morebox > a,
    .contact_submit > button {
        font-size: 1rem;
    }
}

@media all and (max-width: 481px) {
    .news_more > a,
    .stat_morebox > a,
    .contact_submit > button {
        padding: 6px 30px;
        font-size: 0.875rem;
    }
}

/* BUTTON END */

/* SELECT */
.contact_select {
    width: -webkit-calc((100% - 20px) / 2);
    width: -moz-calc((100% - 20px) / 2);
    width: calc((100% - 20px) / 2);
    height: 45px;
    position: relative;
}

.contact_select > select {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-shadow: inset -3px 3px 15px rgba(0, 0, 0, 0.2);
    box-shadow: inset -3px 3px 15px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: #fff;
    padding: 0 15px;
    font-size: 0.9375rem;
    color: #464646;
    font-weight: 600;
}

@media all and (max-width: 481px) {
    .contact_select {
        width: 100%;
        height: 40px;
    }

    .contact_select > select {
        font-size: 0.8125rem;
    }
}

/* SELECT END */

/* CHECKBOX */
.contact_check {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact_check input[type='checkbox'] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.contact_check input[type='checkbox'] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.9375rem;
    font-weight: 400;
    color: #858585;
}

.contact_check input[type='checkbox'] + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #707070;
    margin: -2px 7px 0 0;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}

.contact_check input[type='checkbox']:checked + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../img/sub_check_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 10px;
    background-size: 10px;
    border: 1px solid #ea5514;
    background-color: #ea5514;
}

/* CHECKBOX END */

/* RADIOBOX */
/* RADIOBOX END */

/* TEXTAREA */
.contact_textarea {
    width: 100%;
    height: 260px;
    position: relative;
}

.contact_textarea > textarea {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-shadow: inset -3px 3px 15px rgba(0, 0, 0, 0.2);
    box-shadow: inset -3px 3px 15px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 15px;
    color: #464646;
    resize: none;
}

/* TEXTAREA END */

/* PAGING BOX */
.paging_con {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.paging_con2 {
    top: 10px;
}

.paging_con .paging_box {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: right;
    -webkit-justify-content: right;
    -moz-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
}

.paging_con .paging_box .paging_arrows {
    width: 30px;
    height: 30px;
    position: relative;
}

.paging_con .paging_box .paging_arrows > a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: auto auto;
    background-size: auto;
    border-radius: 5rem;
}

.paging_con .paging_box .paging_arrows_lt > a {
    background-image: url(../img/paging_arrows_prev.png);
}

.paging_con .paging_box .paging_arrows_gt > a {
    background-image: url(../img/paging_arrows_next.png);
}

.paging_con .paging_box .paging_arrows_lt2 > a {
    background-image: url(../img/paging_arrows_prev2.png);
}

.paging_con .paging_box .paging_arrows_gt2 > a {
    background-image: url(../img/paging_arrows_next2.png);
}

/* .paging_con .paging_box .paging_arrows > a:hover {
    background-color: #6343f5;
    border-color: #6343f5;
} */

/* .paging_con .paging_box .paging_arrows_lt > a:hover {
    background-image: url(../img/paging_arrows_lt_on.png);
}

.paging_con .paging_box .paging_arrows_gt > a:hover {
    background-image: url(../img/paging_arrows_gt_on.png);
} */

.paging_con .paging_box .paging_number {
    width: auto;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.paging_con .paging_box .paging_number > li {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 5px;
}

.paging_con .paging_box .paging_number > li > a {
    width: 100%;
    height: 100%;
    font-size: 0.9375rem;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5rem;
    color: #707070;
}

/* .paging_con .paging_box .paging_number > li > a:hover,
.paging_con .paging_box .paging_number > li.active > a {
    background-color: #6343f5;
    color: #fff;
} */

@media all and (max-width: 885px) {
    .paging_con {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 30px;
    }

    .paging_con .paging_box {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media all and (max-width: 481px) {
    .paging_con {
        margin-top: 30px;
    }

    .paging_con .paging_box .paging_arrows,
    .paging_con .paging_box .paging_number > li {
        width: 35px;
        height: 35px;
    }

    .paging_con .paging_box .paging_number > li > a {
        font-size: 0.8125rem;
    }
}

@media all and (max-width: 376px) {
    .paging_con .paging_box .paging_arrows,
    .paging_con .paging_box .paging_number > li {
        width: 30px;
        height: 30px;
    }

    .paging_con .paging_box .paging_arrows > a {
        -webkit-background-size: 5px 5px;
        background-size: 5px;
    }

    .paging_con .paging_box .paging_number > li {
        margin: 0 2.5px;
    }

    .paging_con .paging_box .paging_number > li > a {
        font-size: 0.6875rem;
    }
}

@media all and (max-width: 321px) {
    .paging_con {
        margin-top: 29px;
    }

    .paging_con .paging_box .paging_arrows,
    .paging_con .paging_box .paging_number > li {
        width: 25px;
        height: 25px;
    }
}

/* PAGING BOX END */

/* SIDE BAR */
.side_bar {
    width: 100%;
    max-width: 150px;
    height: auto;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 140px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    padding: 30px 20px;
    border-radius: 10px;
    z-index: 99;
}

.side_bar .sidebar_box {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.side_bar .sidebar_box .bar_nav {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 25px;
}

.side_bar .sidebar_box .bar_nav:last-of-type {
    margin-bottom: 0;
}

.side_bar .sidebar_box .bar_nav > a {
    font-size: 1.0625rem;
    font-weight: 700;
    color: #707070;
    position: relative;
}

.side_bar .sidebar_box .bar_nav > a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #707070;
    position: absolute;
    bottom: -5px;
    left: 0;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.side_bar .sidebar_box .bar_nav > a:hover::after,
.side_bar .sidebar_box .bar_nav > a.active::after {
    width: 100%;
}

.side_bar .sidebar_box .bar_nav .bar_deps {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 15px;
}

.side_bar .sidebar_box .bar_nav .bar_deps > li {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 15px;
}

.side_bar .sidebar_box .bar_nav .bar_deps > li:last-of-type {
    margin-bottom: 0;
}

.side_bar .sidebar_box .bar_nav .bar_deps > li > a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    color: #707070;
    position: relative;
}

.side_bar .sidebar_box .bar_nav .bar_deps > li > a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #707070;
    position: absolute;
    bottom: -5px;
    left: 0;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.side_bar .sidebar_box .bar_nav .bar_deps > li > a:hover::after,
.side_bar .sidebar_box .bar_nav .bar_deps > li > a.active::after {
    width: 100%;
}

@media all and (max-width: 1441px) {
    .side_bar {
        left: 30px;
    }
}

@media all and (max-width: 1281px) {
    .side_bar {
        display: none;
    }
}

/* SIDE BAR */

/* TOPBTN */
.top_btn {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 140px;
    z-index: 99;
}

.top_btn > button {
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background-image: url(../img/top_arrows.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 23px 23px;
    background-size: 23px;
    border-radius: 5rem;
    border: none;
}

@media all and (max-width: 1441px) {
    .top_btn {
        width: 50px;
        height: 50px;
        right: 30px;
    }

    .top_btn > button {
        -webkit-background-size: 18px 18px;
        background-size: 18px;
    }
}

@media all and (max-width: 481px) {
    .top_btn {
        width: 40px;
        height: 40px;
        right: 15px;
        bottom: 20px;
    }

    .top_btn > button {
        -webkit-background-size: 16px 16px;
        background-size: 16px;
    }
}

/* TOPBTN END */
